<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AirQuality Web Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/bycity">By City <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/byday">By Day</a>
        </li>
      </ul>
    </div>
  </nav>
<div style="margin-left: 400px; margin-right: 400px;">
    <br>
    <h3>Air Quality by City</h3>
    <br>
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label for="cities" class="col-form-label">Choose a city:</label>
        </div>
        <div class="col-auto">
          <select formControlName="city" required class="custom-select mb-5 mr-sm-5 mb-sm-0" id="cities">
            <option>Aveiro</option>
            <option>Porto</option>
            <option>Lisboa</option>
            <option>Madrid</option>
            <option>Paris</option>
            <option>London</option>
            <option>Berlim</option>
          </select>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
      </div>
    </form>
    <hr>

    <p *ngIf="loading">Loading...</p>
    <p *ngIf="error">Air Quality results not found for the given parameters.</p>
    
    <div *ngIf="result_ok">
      <p>Showing results for City: <strong> {{ filterForm.value.city }} </strong></p>
      <p id="no2"><strong>NO2:</strong> {{ values["no2"] }} ppb</p>
      <p id="pm10"><strong>PM10:</strong> {{ values["pm10"] }} ug/m3</p>
      <p id="pm25"><strong>PM25:</strong> {{ values["pm25"] }} ug/m3</p>
      <p id="co"><strong>CO:</strong> {{ values["co"] }} ppm</p>
      <p id="so2"><strong>SO2:</strong> {{ values["so2"] }} ppb</p>
      <p id="ozone"><strong>OZONE:</strong> {{ values["ozone"] }} ppb</p>
      <p id="aqi"><strong>AQI:</strong> {{ values["aqi"] }}</p>
      <p id="pollutant"><strong>Pollutant:</strong> {{ values["pollutant"] }}</p>
      <p id="concentration"><strong>Concentration:</strong> {{ values["concentration"] }}</p>
      <p id="category"><strong>Category:</strong> {{ values["category"] }}</p>
    </div>
  </div>